
@import url('https://fonts.googleapis.com/css?family=Poppins: 200, 300, 400, 500, 600, 700, 800, 900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #9e9d9d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
}

.banner .content {
    position: relative;
    max-width: 750px; 
    text-align: center;
}

.banner .content h2 {
    color: #fff;
    font-size: 60px;
}

.banner .content p {
    color: #fff;
    font-size: 18px;
}

.banner header {
    position: absolute;
    bottom: 2%;
    left: 0;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
  
.banner header .logo {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    Letter-spacing: 1px;
    position: relative;
}

.banner header .logo:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.banner header .logo:hover:after { 
    width: 100%; 
    left: 0; 
}

.nav-item {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
    font-size: 16px;
}

#menuToggle {
    display: none;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}


#menu {
    position: absolute;
    width: 200px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 110px;
    padding-bottom: 10px;
    border-radius: 10px;
    background: rgba(205, 205, 205, 0.5);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

/* Hide the entire menu when the mouse leaves */
#menuToggle:not(:hover) #menu {
    transform: translate(-105%, 0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle input:checked ~ ul {
    transform: none;
}

.about {
    position: relative;
    width: 100%;
    display: flex;
    background: #162c3b;;
}
  
.about .contentBx {
    background: #162c3b;
    padding: 100px;
    width: 50%;
}
  
.heading
{
    color: #fff;
    font-size: 30px; font-weight: 600; Letter-spacing: 1px; margin-bottom: 10px;
}

.text
{
    color: #fff;
    font-size: 16px; font-weight: 300;
    Letter-spacing: 1px;
    text-align: justify;
}
  
.about .imgBx
{
    background: url("../images/me.jpeg");
    width: 50%;
    background-size: cover; background-position: center;
}

.services
{
    background: #12222d;
    padding: 100px;
    text-align: center;
}

.services .container
{
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.services .container .serviceBx
{
    position: relative;
    background: #fff;
    width: 240px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    z-index: 1;
    margin: 20px;
}

.services .container .serviceBx img {
    max-width: 100px;
}

.services .container .serviceBx h2 {
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 1px;
}

@media (max-width: 991px) {
    .banner {
        padding: 50px;
    }
    .banner .content h2 {
        font-size: 36px;
    }
    .banner .content p {
        font-size: 16px;
    }
    .about {
        flex-direction: column;
    }
    .about .contentBx,
    .about .imgBx {
        width: 100%;
        padding: 50px;
        min-height: 400px;
        text-align: center;
    }
    .services {
        padding: 50px;
    }
    .services .container {
        justify-content: center;
        margin-top: 20px;
    }
    .services .container .serviceBx {
        margin: 5px;
        width: 100px;
        height: 150px;
        padding: 10px;
    }
    .services .container .serviceBx h2 {
        font-size: 9px;
    }
    .services .container .serviceBx img {
        max-width: 60px;
    }
    .banner header {
        display: none;
    }
    #menuToggle {
        display: block;
    }
}

.timeline {
    position:relative;
    margin:50px auto;
    padding:40px 0;
    box-sizing:border-box;
}
  
.timeline:before {
    content:'';
    position:absolute;
    left:50%;
    width:2px;
    height:100%;
    background:#c5c5c5;
}
  
.timeline ul {
    padding:0;
    margin:0;
}
  
.timeline ul li {
    list-style:none;
    position:relative;
    width:50%;
    padding:20px 40px;
    box-sizing:border-box;
}
  
.timeline ul li:nth-child(odd) {
    float:left;
    text-align:right;
    clear:both;
}
  
.timeline ul li:nth-child(even) {
    float:right;
    text-align:left;
    clear:both;
}
  
.content {
    padding-bottom:20px;
}

.timeline ul li:nth-child(odd):before {
    content:'';
    position:absolute;
    width:10px;
    height:10px;
    top:24px;
    right:-6px;
    background:#162c3b;
    border-radius:50%;
    box-shadow:0 0 0 3px #162c3b;
}

.timeline ul li:nth-child(even):before {
    content:'';
    position:absolute;
    width:10px;
    height:10px;
    top:24px;
    left:-4px;
    background:#162c3b;
    border-radius:50%;
    box-shadow:0 0 0 3px #162c3b;
}

.timeline ul li h3 {
    padding:0;
    margin:0;
    color:#162c3b;
    font-weight:600;
}

.timeline ul li p {
    margin:10px 0 0;
    padding:0;
}

.timeline ul li .time h4 {
    margin:0;
    padding:0;
    font-size:14px;
}

.timeline ul li:nth-child(odd) .time {
    position:absolute;
    top:12px;
    right:-165px;
    margin:0;
    padding:8px 16px;
    background:#162c3b;
    color:#fff;
    border-radius:18px;
    box-shadow:0 0 0 3px #162c3b;
}

.timeline ul li:nth-child(even) .time {
    position:absolute;
    top:12px;
    left:-165px;
    margin:0;
    padding:8px 16px;
    background:#162c3b;
    color:#fff;
    border-radius:18px;
    box-shadow:0 0 0 3px #162c3b;
}

@media(max-width:1000px) {
    .timeline {
        width:100%;
    }
}

@media(max-width:767px) {
    .timeline {
        width:100%;
        padding-bottom:0;
    }

    h1 {
        font-size:40px;
        text-align:center;
    }
    
    .timeline:before {
        left:20px;
        height:100%;
    }
    
    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even) {
        width:100%;
        text-align:left;
        padding-left:50px;
        padding-bottom:50px;
    }

    .timeline ul li:nth-child(odd):before,
    .timeline ul li:nth-child(even):before {
        top:-18px;
        left:16px;
    }

    .timeline ul li:nth-child(odd) .time,
    .timeline ul li:nth-child(even) .time {
      top:-30px;
      left:50px;
      right:inherit;
    }
}
  
.experiences {
    text-align: center;
    background: #3f8ffc;
    width: 100%;
    padding: 50px;
    /* padding-top: 200px; */
    /* margin-top: -200px; */
    justify-content: space-between;
    align-items: center;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #a900ff;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
  
#myBtn:hover {
    background-color: #dd9aff;
}

.services .container .serviceBx.flip-card {
    background-color: transparent;
    width: 350px;
    height: 400px;
}

.container-2 {
    width: 100%;
    height: 100%;
    perspective: 800px;
}
  
.container-2:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg);
}
  
.card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.front{
    padding: 100px 0;
    text-align: center;
    background: white;
    color: black;
}
  
.front img {
    max-height: 160px;
}
  
.front,
.back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
}
  
.back {
    background-color: #6b6b6b;
    display: flex;
    transform: rotateY(180deg);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
  
.back-title,
.front-title {
    padding: 10px;
}
  
.back-title {
    color: white;
    font-weight: 100;
}
  
.skill-container {
    display: flex;
    width: 100%;
    height: 100%;
}
  
.right {
    display: flex;
    padding: 20px 40px;
    flex: 0 1 100%;
    flex-direction: column;
    justify-content: space-between;
}
  
.right div {
    background-color: white;
    text-align: center;
    height: 2rem;
    line-height: 2rem;
    border-radius: 10px;
}
